html {
  height: 100%;
}
html .body-principal {
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100%;
  overflow-x: hidden;
}
html .body-principal header {
  width: 100%;
  position: fixed;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100px;
}
html .body-principal header p {
  font-size: 30px;
  color: #fff;
}
html .body-principal header .contenedorInicio {
  cursor: pointer;
  color: #fff;
}
html .body-principal header .contenedorInicio .casa {
  position: relative;
  bottom: 2px;
}
html .body-principal header .contenedorInicio .inicio {
  text-decoration: none;
  color: #fff;
}
html .body-principal header .favoritos {
  cursor: pointer;
}
html .body-principal header .favoritos img {
  position: relative;
  bottom: 2px;
  filter: hue-rotate(120);
  width: 30px;
}
html .body-principal header .favoritos .contador {
  color: #fff;
}
html .body-principal .fondoAnimado h2 {
  position: absolute;
  top: 40%;
  width: 100%;
  font-family: "Courgette", cursive;
  font-size: 4em;
  text-align: center;
  transform: translate;
  color: #fff;
  transform: translateY -50%;
}
html .body-principal .fondoAnimado .flecha {
  width: 80px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-bottom: 30px;
  cursor: pointer;
  background-color: #fff;
  padding: 10px;
  border-radius: 50px;
}
html .body-principal .contendor--imagenes {
  height: 100%;
  position: relative;
  top: 700px;
  background: radial-gradient(#333, #000);
  padding: 50px 60px;
}
html .body-principal .contendor--imagenes .contendor--categorias .contendor--tiutlo--categorias {
  width: 90%;
  border-bottom: #fff 1px solid;
}
html .body-principal .contendor--imagenes .contendor--categorias .contendor--tiutlo--categorias p {
  color: #fff;
}
html .body-principal .contendor--imagenes .contendor--categorias .categorias--nombres {
  width: 100%;
}
html .body-principal .contendor--imagenes .contendor--categorias .categorias--nombres p {
  letter-spacing: 2px;
  cursor: pointer;
  background-color: #fff;
  padding: 5px 20px;
  border-radius: 50px;
  color: #000;
  font-size: 18px;
  margin: 20px 30px 50px 30px;
}
html .body-principal .contendor--imagenes .contendor--categorias .catTitulo {
  display: inline-block;
  position: relative;
  top: 20px;
  left: 72px;
  color: #fff;
  margin-top: 20px;
}
html .body-principal .contendor--imagenes .grid-conatiner {
  display: grid;
  grid-template-rows: 250px 250px 250px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 250px));
  grid-auto-rows: 250px;
  gap: 30px;
}
html .body-principal .contendor--imagenes .grid-conatiner .grid-item {
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid black;
  position: relative;
}
html .body-principal .contendor--imagenes .grid-conatiner .grid-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
html .body-principal .contendor--imagenes .grid-conatiner .grid-item .fondo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(92, 92, 92, 0.8);
  transition: all 0.5s;
}
html .body-principal .contendor--imagenes .grid-conatiner .grid-item .fondo .corazon {
  z-index: 200;
  color: #fff;
  position: absolute;
  right: 0;
  margin: 10px;
}
html .body-principal .contendor--imagenes .grid-conatiner .grid-item .fondo .corazon:hover {
  color: rgb(255, 49, 49);
}
html .body-principal .contendor--imagenes .grid-conatiner .grid-item .fondo .corazon:hover + .palabraFav {
  display: block;
}
html .body-principal .contendor--imagenes .grid-conatiner .grid-item .fondo .corazon path {
  pointer-events: none;
}
html .body-principal .contendor--imagenes .grid-conatiner .grid-item .fondo .palabraFav {
  display: none;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 15px;
  position: absolute;
  right: 0;
  margin: 35px 5px 0 0;
  color: rgb(255, 49, 49);
}
html .body-principal .contendor--imagenes .grid-conatiner .grid-item .fondo:hover {
  cursor: pointer;
  background-color: rgba(92, 92, 92, 0);
}
html .body-principal .contendor--imagenes .grid-conatiner .grid-item .imgCompleta {
  z-index: 1000;
  left: 50px;
  bottom: 0;
  position: absolute;
  text-decoration: none;
  color: #fff;
}
html .body-principal .contendor--imagenes .grid-conatiner .grid-item .imgCompleta:hover {
  text-decoration: solid;
}
html .body-principal .contendor--imagenes .grid-conatiner .borrarClases {
  display: none;
}
html .body-principal .contendor--imagenes .verMas {
  cursor: pointer;
  font-size: 30px;
  color: #fff;
}
html .body-principal .footer {
  margin-top: 60px;
  background: transparent;
  position: relative;
  top: 580px;
}
html .body-principal .footer footer {
  background: transparent;
}

@media (min-width: 300px) and (max-width: 875px) {
  html .body-principal .contendor--imagenes {
    padding: 50px 20px;
  }
}
@media (min-width: 300px) and (max-width: 775px) {
  html .body-principal .contendor--imagenes {
    padding: 50px 5px;
  }
  html .body-principal .contendor--imagenes .contendor--categorias .contendor--tiutlo--categorias {
    width: 100%;
  }
  html .body-principal .contendor--imagenes .contendor--categorias .categorias--nombres {
    width: 100%;
  }
  html .body-principal .contendor--imagenes .contendor--categorias .categorias--nombres p {
    font-size: 15px;
    margin: 20px 10px 50px 10px;
  }
}
@media (min-width: 300px) and (max-width: 595px) {
  html .body-principal header p {
    position: relative;
    top: 8px;
    font-size: 20px;
  }
  html .body-principal .contendor--imagenes {
    padding: 50px 5px;
  }
  html .body-principal .contendor--imagenes .contendor--categorias .contendor--tiutlo--categorias {
    width: 100%;
  }
  html .body-principal .contendor--imagenes .contendor--categorias .categorias--nombres {
    width: 100%;
  }
  html .body-principal .contendor--imagenes .contendor--categorias .categorias--nombres div {
    position: relative;
    left: 60px;
    width: 75%;
    flex-wrap: wrap;
  }
  html .body-principal .contendor--imagenes .contendor--categorias .categorias--nombres div p {
    padding: 5px 10px;
    margin: 20px 5px 10px 5px;
  }
}
@media (min-width: 300px) and (max-width: 400px) {
  html .body-principal header p {
    position: relative;
    top: 8px;
    font-size: 15px;
  }
  html .body-principal .contendor--imagenes .contendor--categorias .categorias--nombres div {
    left: 45px;
  }
  html .body-principal .footer {
    align-items: center;
    margin-top: 60px;
    background: transparent;
    position: relative;
    top: 580px;
  }
  html .body-principal .footer footer {
    background: transparent;
  }
}
.body-favoritos {
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100%;
}
.body-favoritos header {
  width: 100%;
  position: fixed;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100px;
}
.body-favoritos header p {
  font-size: 30px;
  color: #fff;
}
.body-favoritos header .contenedorInicio {
  cursor: pointer;
  color: #fff;
}
.body-favoritos header .contenedorInicio .casa {
  position: relative;
  bottom: 2px;
}
.body-favoritos header .contenedorInicio .inicio {
  text-decoration: none;
  color: #fff;
}
.body-favoritos header .favoritos {
  cursor: pointer;
}
.body-favoritos header .favoritos img {
  position: relative;
  bottom: 2px;
  filter: hue-rotate(120);
  width: 30px;
}
.body-favoritos header .favoritos .contador {
  color: #fff;
}
.body-favoritos .contenedor-main-footer {
  background: radial-gradient(#333, #000);
}
.body-favoritos .contenedor-main-footer main .contenedor-tiutlo-favoritos {
  padding: 0 30px;
  margin-top: 80px;
  width: 100%;
  border-bottom: #fff 1px solid;
}
.body-favoritos .contenedor-main-footer main .contenedor-tiutlo-favoritos p {
  font-size: 20px;
  color: #fff;
  letter-spacing: 2px;
}
.body-favoritos .contenedor-main-footer main .contenedor-tiutlo-favoritos p span {
  margin-left: 20px;
}
.body-favoritos .contenedor-main-footer main .contador-imagenes-favoritos {
  margin-top: 50px;
}
.body-favoritos .contenedor-main-footer main .contador-imagenes-favoritos .grid-conatiner {
  display: grid;
  grid-template-rows: 250px 250px 250px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 250px));
  grid-auto-rows: 250px;
  gap: 30px;
}
.body-favoritos .contenedor-main-footer main .contador-imagenes-favoritos .grid-conatiner .grid-item {
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid black;
  position: relative;
}
.body-favoritos .contenedor-main-footer main .contador-imagenes-favoritos .grid-conatiner .grid-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.body-favoritos .contenedor-main-footer main .contador-imagenes-favoritos .grid-conatiner .grid-item .fondo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(92, 92, 92, 0.8);
  transition: all 0.5s;
}
.body-favoritos .contenedor-main-footer main .contador-imagenes-favoritos .grid-conatiner .grid-item .fondo .corazon {
  z-index: 200;
  color: #fff;
  position: absolute;
  right: 0;
  margin: 10px;
}
.body-favoritos .contenedor-main-footer main .contador-imagenes-favoritos .grid-conatiner .grid-item .fondo .corazon:hover {
  color: rgb(255, 49, 49);
}
.body-favoritos .contenedor-main-footer main .contador-imagenes-favoritos .grid-conatiner .grid-item .fondo .corazon:hover + .palabraFav {
  display: block;
}
.body-favoritos .contenedor-main-footer main .contador-imagenes-favoritos .grid-conatiner .grid-item .fondo .corazon path {
  pointer-events: none;
}
.body-favoritos .contenedor-main-footer main .contador-imagenes-favoritos .grid-conatiner .grid-item .fondo .palabraFav {
  display: none;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 15px;
  position: absolute;
  right: 0;
  margin: 35px 5px 0 0;
  color: rgb(255, 49, 49);
}
.body-favoritos .contenedor-main-footer main .contador-imagenes-favoritos .grid-conatiner .grid-item .fondo .eliminarTacho {
  z-index: 200;
  color: #fff;
  position: absolute;
  right: 0;
  margin: 10px;
}
.body-favoritos .contenedor-main-footer main .contador-imagenes-favoritos .grid-conatiner .grid-item .fondo .eliminarTacho:hover {
  color: rgb(255, 49, 49);
}
.body-favoritos .contenedor-main-footer main .contador-imagenes-favoritos .grid-conatiner .grid-item .fondo .eliminarTacho path {
  pointer-events: none;
}
.body-favoritos .contenedor-main-footer main .contador-imagenes-favoritos .grid-conatiner .grid-item .fondo:hover {
  cursor: pointer;
  background-color: rgba(92, 92, 92, 0);
}
.body-favoritos .contenedor-main-footer main .contador-imagenes-favoritos .grid-conatiner .grid-item .imgCompleta {
  z-index: 1000;
  left: 50px;
  bottom: 0;
  position: absolute;
  text-decoration: none;
  color: #fff;
}
.body-favoritos .contenedor-main-footer main .contador-imagenes-favoritos .grid-conatiner .grid-item .imgCompleta:hover {
  text-decoration: solid;
}
.body-favoritos .footer {
  padding-top: 20px;
  background: transparent;
}
.body-favoritos .footer footer {
  background: transparent;
}

@media (min-width: 300px) and (max-width: 600px) {
  .body-favoritos .contenedor-main-footer main .contenedor-tiutlo-favoritos p {
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
  }
  .body-favoritos .contenedor-main-footer main .contenedor-tiutlo-favoritos p span {
    margin-left: 10px;
  }
  .body-favoritos .contenedor-main-footer main .contenedor-tiutlo-favoritos button {
    font-size: 12px;
  }
}
@media (min-width: 300px) and (max-width: 480px) {
  .body-favoritos header p {
    position: relative;
    top: 8px;
    font-size: 20px;
  }
  .body-favoritos .contenedor-main-footer main .contenedor-tiutlo-favoritos {
    flex-direction: column !important;
    align-items: center;
  }
}
@media (min-width: 300px) and (max-width: 400px) {
  .body-favoritos header p {
    font-size: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
